body{
    background-color: rgb(160, 191, 209);
}
.background{
    background-color: white;
    border-radius: 5px;
}
h2{
    color: rgb(60, 65, 131);
}

table{
    border: 1px solid black;
}

img{
    width: 200px;
}

.color{
    color:rgb(160, 191, 209);
    font-weight: 900;
}

.color1{
    color: rgb(60, 65, 131);
    font-weight: 900;
}

.color1_total{
    display: block;
    float: right;
    color: rgb(60, 65, 131);
    font-weight: 900;
}


.button{
    width: 200px;
    background-color: rgb(60, 65, 131);
    color: white;
}